<!DOCTYPE html>
<html lang="en">
<head>
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <title>detail</title>
    <th:block th:insert="~{fragments :: styles}"></th:block>
</head>
<body>
    <div class="container">
        <header class="navbar flex">
            <h3 class="title-best">Best of</h3>
            <hr class="vertical-line" />

            <div class="padd-left">
                <a th:replace="~{fragments :: a(@{http://localhost:8080/movie}, film)}" />
                <a th:replace="~{fragments :: a(@{http://localhost:8080/song}, canzoni)}" />
            </div>
        </header>

        <main>
            <h2 class="text-center padd">Best of By</h2>
            <div class="detail-container">
            <img  src="https://picsum.photos/500/250" alt="random-image">
            <h2 class="title-border text-center"  th:text="| ${titolo}|"></h2>
        </div>
        </main>
    </div>

    

</body>
</html>