<!DOCTYPE html>
<html lang="en">
<head>
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <title>song</title>
    <!-- style -->
    <th:block th:insert="~{fragments :: styles}"></th:block>
</head>
<body>
    <div class="container">
        <header class="navbar flex">
            <h3 class="title-best">Best of</h3>
            <hr class="vertical-line" />

            <div class="padd-left">
                <a th:replace="~{fragments :: a(@{http://localhost:8080/}, Home)}" />
                <a th:replace="~{fragments :: a(@{http://localhost:8080/movie}, film)}" />
            </div>
        </header>

        <main>
            <h2 class="text-center padd">Best Song</h2>
            <ul class="text-center list-container">
                <li th:each=" song : ${songs}" >
                    <a class="lista" th:href="@{'http://localhost:8080/song/' + ${song.id}}" th:text="${song.titolo}"></a>
                </li>
            </ul>
        </main>

        

    </div>
</body>
</html>